.bash_history
.bash_logout
.bashrc
.cache/
.dotnet/
.gitconfig
.gitmodules
.lesshst
.motd_shown
.profile
.python_history
.ssh/
.sudo_as_admin_successful
.vscode-server/
.wget-hsts
.zcompdump
.zshrc
SRC/
branch1/
dic_cafe1/
enviroment_1/
hello-world/
# Ignorar archivos generales
*.log
*.tmp
*.bak

# Ignorar el directorio de entornos virtuales
.venv/
